<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/P-kF5ubPaBfXjVbKC-efHg" async></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="167234"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="167240"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="167236"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="167235"></div>

{% if customer %}

{% else %}

<div class="yotpo-sentence-section">
 {% comment %} <div class="yotpo-wrapper">
    <h2>JOIN BEFORE 31ST AUGUST AND EARN DISCOUNTS FASTER WHILST ENJOYING NO MINIMUM SPEND!</h2>
  </div>{% endcomment %}
</div>

<style>
  .yotpo-sentence-section{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    /*background: url(https://cdn.shopify.com/s/files/1/0586/6455/0568/files/pingbg.png?v=1653588591) no-repeat center top/cover;*/
    overflow: hidden;
  }
/*  .yotpo-wrapper{
   max-width: 1200px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0 210px;
  }

  .yotpo-wrapper h2{
    font-weight: bold;
    font-size: 35px!important;
  }
  */

  @media (max-width: 1024px){
    .yotpo-sentence-section{
    background: #FF71CA;
    }
    .yotpo-wrapper{
    padding: 30px 10px;
    }
    .yotpo-wrapper h2{
    font-size: 20px!important;
    }
    
  }
  
</style>

{% endif %}



<div class="yotpo-widget-instance" data-yotpo-instance-id="167237"></div>

<div class="yotpo-button">
  <a href="https://uk.solado.com/collections/new-in">SHOP NOW</a>
</div>

<style>
  .yotpo-button {
    position: relative;
    text-align: center;
    margin: 20px auto;
}
 .yotpo-button a{
    position: relative;
    text-align: center;
    max-width: 100%; 
    width: 50%;
    padding: 10px; 
    background: #000;
   color: #fff;
   display: block;
   margin: 0 auto;
   border-radius: 3px;
}
</style>

<div class="Question-Rewards">
  <h2>QUESTIONS?</h2>
  <div class="Question-Buttons">
   
{% if customer %}

 <a href="https://uk.solado.com/pages/help-center">CHECK OUT OUR FAQ'S</a>

{% else %}

 <a href="https://uk.solado.com/pages/help-center">CHECK OUT OUR FAQ'S</a>
<a href="https://uk.solado.com/account/register">NAH, SIGN ME UP</a>

{% endif %}
    
    
  </div>
</div>

<style>
  .Question-Rewards{
  padding: 50px 10px;
   text-align: center;
    background: #EFCBFB;
    margin: 50px auto 0;
  }
  .Question-Rewards h2 {
    margin: 0 auto 30px;
    font-weight: bold;
    color: #000;
    font-size: 35px;
}
  .Question-Buttons{
  position: relative;
  }
  
  .Question-Buttons a{
     background: #000;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 10px;
    max-width: 100%;
    padding: 10px;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400!important;
    font-size: 16px;
  }
  
  .Question-Buttons a:hover{opacity: 0.8;}

  .yotpo-vip-tiers-widget .yotpo-vip-tiers-grid-benefit-toggle p{
    font-size: 8px!important;
    font-weight: 400!important;
  }
  @media (max-width: 1024px){
  .Question-Buttons a {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    width: 300px;
}
  
  }
</style>
